/* "Configs" */
body{
    background-color: var(--color-weakgrey);
}

/* Scroll-bar */
body::-webkit-scrollbar{
    width: 0rem;
}
  
/* Header */
.navbar-up{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    background-color: var(--color-mediumgrey);

    padding: 0.8rem 4rem; 

    border-bottom: 1.5px solid var(--color-stronggrey);
}

.navbar-up label{
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-hypergrey);
}

.navbar-down{
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 1.5rem;
}

.navbar-down h1{
    font-size: 2.6rem;
    color: var(--color-mediumblue);
}

.imgheader{
    height: 55vh;
    
    background-image: url(/assets/images/imgHeader.jpg);
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/* Main */
main{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
    height: fit-content;

    padding: 3.5rem 10%;
    padding-bottom: 6.5rem;

    gap: 3rem;
}

.text{
    text-align: center;
}

.text h1{
    font-size: 2.6rem;
    color: var(--color-mediumblue);
}

.text p{
    font-size: 1.8rem;
    color: var(--color-stronggrey);
}

section{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;

    gap: 2rem;
}

article{
    width: 45rem;
    height: fit-content;

    border-radius: 0.5rem;

    background-color: var(--color-mediumgrey);

    border: 1.5px solid var(--color-stronggrey);
}

.card-img{
    display: flex;
    justify-content: center;

    height: 80%;
}

.card-img img{
    transition: all 800ms ease;  
    filter: drop-shadow(0 0 1rem rgba(0,0,0,0.5));
}

article:hover img{
    transform: rotate(-10deg);
}

.card-text{
    display: flex;
    justify-content: space-between;

    padding: 0 5%;
    padding-bottom: 5%;
    
}

.card-text h1, p{
    color: var(--color-hypergrey);
    font-size: 1.6rem;
}

/* Footer */
footer{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--color-mediumgrey);

    height: 6.5rem;

    border-top: 1.5px solid var(--color-stronggrey);
}

footer h1{
    color: var(--color-hypergrey);
    font-size: 1.8rem;
}