@media screen 
and (max-width: 1676px){
    /* Index */
    .circle{
        right: -72rem;
    }

    .imgbox{
        width: 70rem;
    }
}

@media screen 
and (max-width: 1440px){
    /* Index */
    .circle{
        right: -90rem;
        bottom: -32rem;
    }

    .imgbox{
        width: 44rem;
    }

    .imgbox img{
        width: 55rem;
    }

    .textbox h1{
        font-size: 4.2rem;
    }

    .textbox p{
        font-size: 2.4rem;
    }
    
}

@media screen 
and (max-width: 1024px){
    /* Index */
    .content{
        padding-left: 10rem;
    }

    .circle{
        right: -100rem;
        bottom: -34rem;
    }

    .imgbox{
        width: 34rem;
    }

    .imgbox img{
        width: 50rem;
    }

    .textbox h1{
        font-size: 3.8rem;
    }

    .textbox p{
        font-size: 2rem;
    }
    
    .textbox a{
        height: 6rem;
        
        font-size: 2.4rem;

        margin-top: 1.4rem;
    }
}

@media screen 
and (max-width: 768px){
    /* Index */
    .content{
        flex-direction: column;
        gap: 4rem;
    }

    .circle{
        right: -16rem;
        bottom: -110rem;
    }

    .textbox{
        max-width: 40rem;
    }

    /* Register & Login */
    form{
        width: 40rem;
        padding: 4.5rem;
    }

    form h1{
        font-size: 3.8rem;
        margin-bottom: 2.5rem;
    }

    .float input{
        font-size: 1.6rem;
    }

    label{
        top: 22%;
        font-size: 1.6rem;
    }

    form button{
        font-size: 2.6rem;
        margin-top: 2.4rem;
    }

    form p{
        font-size: 1.4rem;
    }

    /* Popups */
    .popup-sucess, .popup-error{
        width: 35rem;
    }

    .popup-sucess img, .popup-error img{
        width: 14rem;
        margin-top: -32%;
    }

    .popup-content h1{
        font-size: 3rem;
    }

    .popup-content p{
        font-size: 1.6rem;
    }

    /* Blobs */
    .blobtop{
        top: -30rem;
        right: -15rem;
    }

    .blobbot{
        bottom: -30rem;
        left: -15rem;
    }
}

@media screen 
and (max-width: 425px){
    /* Index */
    #homeheader{
        padding: 0rem 2.2rem;
    }

    #homeheader a{
        font-size: 1.8rem;
    }

    .content{
        padding: 2rem;
    }
    
    .imgbox img{
        width: 40rem;
    }
    
    .textbox h1{
        font-size: 3.2rem;
    }
    
    .textbox p{
        font-size: 1.8rem;
    }
        
    .textbox a{
        width: 22rem;
        font-size: 2.2rem;
    }

    /* Register & Login */
    form{
        width: 30rem;
        padding: 3.5rem;
    }

    form h1{
        font-size: 3.2rem;
        margin-bottom: 1.5rem;
    }

    .form-inputs{
        gap: 2rem;
    }

    .float input{
        font-size: 1.4rem;
    }

    label{
        top: 30%;
        font-size: 1.4rem;
    }

    form button{
        font-size: 2.4rem;
    }

    form p{
        font-size: 1.2rem;
    }

    /* Popups */
    .popup-sucess, .popup-error{
        width: 25rem;
    }

    .popup-sucess img, .popup-error img{
        width: 10rem;
        margin-top: -50%;
    }

    .popup-content{
        gap: 2.6rem;
        margin-top: 1.2rem;
    }

    .popup-content h1{
        font-size: 3rem;
    }

    .popup-content p{
        font-size: 1.4rem;
    }

    /* Blobs */
    .blobtop{
        top: -35rem;
        right: -25rem;
    }

    .blobbot{
        bottom: -38rem;
        left: -25rem;
    }

    /* Home */
    .card-img img{
        width: 25rem;
    }

    .popup-profile{
        width: 30rem;
    }

    .popup-profile img{
        width: 12rem;
        margin-top: -40%;
    }
}

@media screen 
and (max-width: 375px){
    /* Index */
    #homeheader{
        padding: 0rem 2.2rem;
    }

    #homeheader a{
        font-size: 1.6rem;
    }

    .content{
        padding: 2rem;
    }
    
    .imgbox img{
        width: 30rem;
    }
    
    .textbox h1{
        font-size: 2.6rem;
    }
    
    .textbox p{
        font-size: 1.4rem;
    }
        
    .textbox a{
        width: 22rem;
        font-size: 2rem;
    }

    .circle{
        right: -16rem;
        bottom: -105rem;
    }

}
