/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* "Configs" */
:root{
    font-size: 10px;
    --color-hypergrey:  #6b6b6b;
    --color-stronggrey: #919293;
    --color-mediumgrey: #C4C4C4;
    --color-weakgrey:   #EAEEF0;
    --color-strongblue: #239DFB;
    --color-mediumblue: #44ABFB;
    --color-lightblue:  #7BC3FB;
}

*, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Nunito', sans-serif;
}

::selection{
    background-color: var(--color-lightblue);
}